html {
  --bg-hovered: rgba(0, 0, 0, 0.05);
  --bg-neutral: rgba(0, 0, 0, 0.05);
  --bg-pressed: rgba(0, 0, 0, 0.1);
  --bg-selected: rgb(220, 236, 255);
  --bg-surface: white;
  --border: rgb(163 163 163);
  --brand: black;
  --text-link: rgb(59 130 246);
  --text-selected: rgb(59 130 246);
  --text-subtle: rgb(38 38 38);
  --text-subtlest: rgb(82 82 82);
  --text: rgb(23 23 23);
}

@media (prefers-color-scheme: dark) {
  html {
    --bg-hovered: rgba(255, 255, 255, 0.05);
    --bg-neutral: rgba(255, 255, 255, 0.1);
    --bg-pressed: rgba(255, 255, 255, 0.1);
    --bg-selected: rgba(255, 255, 255, 0.1);
    --bg-surface: black;
    --border: rgb(115 115 115);
    --brand: white;
    --text-link: rgb(96 165 250);
    --text-selected: rgb(96 165 250);
    --text-subtle: rgb(229 229 229);
    --text-subtlest: rgb(163 163 163);
    --text: rgb(245 245 245);
  }
}
