html {
  --bg-hovered: rgb(0 0 0 / 0.05);
  --bg-inverse: rgb(0 0 0 / 0.9);
  --bg-neutral: rgb(0 0 0 / 0.05);
  --bg-pressed: rgb(0 0 0 / 0.1);
  --bg-selected: rgb(220, 236, 255);
  --bg-surface: rgb(255 255 255);
  --border: rgb(163 163 163);
  --brand: rgb(0 0 0);
  --text-inverse-subtle: rgb(230 230 230);
  --text-inverse: rgb(255 255 255 / 0.95);
  --text-link: rgb(59 130 246);
  --text-selected: rgb(59 130 246);
  --text-subtle: rgb(38 38 38);
  --text-subtlest: rgb(82 82 82);
  --text: rgb(23 23 23);
}

@media (prefers-color-scheme: dark) {
  html {
    --bg-hovered: rgb(255 255 255 / 0.05);
    --bg-inverse: rgb(255 255 255 / 0.9);
    --bg-neutral: rgb(255 255 255 / 0.1);
    --bg-pressed: rgb(255 255 255 / 0.1);
    --bg-selected: rgb(255 255 255 / 0.1);
    --bg-surface: rgb(17 17 17);
    --border: rgb(63 63 63);
    --brand: rgb(255 255 255);
    --text-inverse-subtle: rgb(17 17 17);
    --text-inverse: rgb(17 17 17);
    --text-link: rgb(96 165 250);
    --text-selected: rgb(96 165 250);
    --text-subtle: rgb(192 192 192);
    --text-subtlest: rgb(144 144 144);
    --text: rgb(231 231 231);
  }
}
