{
  "plugins": [
    "@ianvs/prettier-plugin-sort-imports",
    "prettier-plugin-glsl",
    "prettier-plugin-jsdoc",
    "prettier-plugin-packagejson",
    "prettier-plugin-tailwindcss"
  ],
  "proseWrap": "always",
  "jsdocSingleLineComment": false,
  "jsdocCapitalizeDescription": false,
  "jsdocPreferCodeFences": true
}
