@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-surface;
    color: hotpink;
    border-color: hotpink;
    outline-color: hotpink;
  }

  summary::-webkit-details-marker {
    display: none;
  }
}
