{
  "plugins": [
    "@ianvs/prettier-plugin-sort-imports",
    "prettier-plugin-jsdoc",
    "prettier-plugin-packagejson"
  ],
  "proseWrap": "never",
  "jsdocSingleLineComment": false,
  "jsdocCapitalizeDescription": false,
  "jsdocPreferCodeFences": true
}
