{
  "plugins": [
    "@ianvs/prettier-plugin-sort-imports",
    "prettier-plugin-jsdoc",
    "prettier-plugin-packagejson"
  ],
  "jsdocCapitalizeDescription": false,
  "jsdocPreferCodeFences": true,
  "jsdocSingleLineComment": false,
  "proseWrap": "never",
  "trailingComma": "all",
  "overrides": [{ "files": ["*.frag"], "options": { "parser": "glsl-parser" } }]
}
