@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0%);
  }
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0%);
  }
}

.slide-in {
  animation-name: slide-in;
  animation-duration: 100ms;
}

.slide-up {
  animation-name: slide-up;
  animation-duration: 100ms;
}

input[type="color"]::-moz-color-swatch {
  border: none;
  border-radius: 3px;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
  border-radius: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
}
